spring.application.name=ecommerce-api
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:yourdb/yourdb
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=db_password

SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=true
SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT=org.hibernate.dialect.PostgreSQLDialect

APP_JWTSECRET=Secret Key
APP_JWTEXPIRATIONMS=3600000
APP_JWTREFRESHEXPIRATIONMS=86400000