:host {
  display: block;
}

input {
  box-shadow: none;
}

input:focus {
  border-bottom-width: 1.5px;
}

button:hover span[aria-hidden="true"] {
  transform: translate(3px, -3px);
  transition: transform 0.35s cubic-bezier(0.25, 1, 0.5, 1);
}

button span[aria-hidden="true"] {
  transition: transform 0.25s cubic-bezier(0.25, 1, 0.5, 1);
}